@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}
.image-row-container::after {
  content: "";
  position: absolute;
  right: 0;
  width: 200px;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.971) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 2;
}
.slider {
  background: pr;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
}
.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  display: flex;
  width: calc(250px * 14);
  gap: 50px;
}

.slider .slide {
  height: 100px;
  width: 250px;
}
.slide-rounded {
  border-radius: 50%;
}
.slide-rounded > img {
  border-radius: 50%;
}
.track-1 {
  -webkit-animation: scroll 90s linear infinite;
  animation: scroll 90s linear infinite;
}
.track-2 {
  -webkit-animation: scroll 60s linear infinite reverse;
  animation: scroll 60s linear infinite reverse;
}
.track-3 {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
}
